* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
#header, #menu, #content {
    max-width: 900px;
    margin: 0 auto;
}
.panel {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border-radius: 0px;
}

.paneld {
    margin: 0px;
    padding: 0 15px;
    height: 100%;    
    border-radius: 0px;
}

.pole {    
    background-color: white;
    box-shadow: 0 0 3px 1px rgb(184, 183, 183);
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cams {
    box-shadow: 0 0 3px 1px rgb(184, 183, 183);
    padding: 0;
    width: 352px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

.cams .date {
    font-size: 10px;
    color: gray;
    text-align: right;
    padding: 5px;
}

.cams .header {
    text-align: center;
    font-size: 18px;
}



#container {
    background-color: rgb(238, 234, 234);
    border-top: 3px solid rgb(202, 196, 196);
    clear: left;    
    min-height: 300px;
}


.img-responsive {
    margin: 0 auto;
}

ul li {
    list-style: none;
    display: block;
    text-align: center;
    margin-right: 20px;
    width: 90px;
    float: left;
    padding: 7px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

ul li a:link {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 3px solid rgb(224, 70, 23);
    color: rgb(224, 70, 23);
}

#menu {
    position: relative; top: 1px;
    max-width: 770px;
    margin: 0 auto;
}

#header {
    margin-top: 50px;
    max-width: 750px;
    margin: 40 auto 0;
}

#footer{
    
    border-top: 3px solid rgb(202, 196, 196);
    background-color: rgb(61, 61, 61);
    color: rgb(99, 99, 99);
    text-align: center;
    padding: 20px 0px 10px 0px;
}
#footer hr{
    margin: 0 auto 10px;
    width: 250px;
    height: 1px;
    background: gray;
    border: 0px;
}

.form {
    background-color: white;
    color: rgb(136, 136, 136);
    width: 320px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolut; top: 50%;
    padding: 45px 55px;
    font-weight: normal;
    box-shadow: 0 0 3px 1px rgb(184, 183, 183);
}

.form span {
    color: rgb(224, 70, 23);
    font-size: 8px;
    vertical-align: super;
}

.form input, textarea {
    font-size: 12px;
  }

.form hr{
    margin: 0 auto 10px;
    width: 100%;
    height: 1px;
    background: rgb(212, 212, 212);
    border: 0px;
    margin: 2px 0 20px 0;
}

.form label {
    font-weight: normal;
    font-size: 12px;
    margin-right: 5px;
}

.form #submit {
    background-color: rgb(0, 153, 255);
    padding: 2px 17px;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    float: right;
}

.form textarea {
    width: 210px;
    resize:vertical;
}